body {
	background-color: #333;
	margin: 0;
	color: #ccc;
}
.main {
	display: flex;
	gap: 10px;
	flex-direction: column;
	font-family: monospace;
	padding: 15px;
}
.main > * {
	background-color: #555;
	border-radius: 5px;
	padding: 10px;
}
.readings > .content {
	display: flex;
}
.readings > .content > textarea {
	padding: 10px;
	height: 200px;
	flex-grow: 1;
	border: none;
	background-color: #333;
	color: #ddd;
}
.output > .content {
	background-color: #444;
	padding: 10px;
	max-height: 300px;
	overflow: auto;
}
